/***************************************** */
/* Part 1: General */
/***************************************** */

p {
    font-size: small;
}


body{
    margin: 0px;
    font-family: "Varela";
}

header{
    display: flex;
}

header > img {
    height: 60px;
}


.brand  {
    font-family: 'Pacifico';
    font-size:xx-large;
}

.container{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;

}
/***************************************** */
/* Part 2: Library */
/***************************************** */

.library{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.bookData{
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-basis: 1;
    flex-shrink: 1;
}

.bookData > h4 {
    font-size: smaller;
}



.bookCover{
    flex-basis: 2;
    max-height: 60%;
    max-width: 100%;
    object-fit: cover;

}

.bookCover img {
width: 100%;
height: 100%;
    object-fit: cover;
    object-position: top;

    
}

.book{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 180px;
    background-color: white;
    margin: 1em;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 10px 5px 5px rgba(0,0,0,.125);
    
}


/***************************************** */
/* Part 3: Add book form */
/***************************************** */

.modal{
    background: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,.125);
    padding: 1rem 3rem;
    text-align: start;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal h2{
    text-align: center;
    
}

label{
    margin-bottom: 8px;
}

input{
    display: block;
    width: 100%;
    margin-top: 5px;
    height:3rem;
    padding:0.375rem 0.75rem;
    border-radius: 5px;
    border: solid 1px lightgrey;
    box-sizing: border-box;

}

.button__add{
    background-color: coral;
    border-style: none;
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width:50px;
    box-shadow: 10px 5px 5px rgba(0,0,0,.125);
    font-size: xx-large;
    bottom: 20px;
    right: 20px;
    cursor: pointer;

}

.button__close{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: x-large;
    background: none;
    border: none;
    cursor: pointer;

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.125); /* Black background with opacity */
    backdrop-filter: blur(2px);
    align-items: center;

}

.validation {
    color: red;
    visibility:hidden;
}

.show{
    display: flex;
}

.noshow{
    display: none;
}